# {{ ansible_managed }}
name: {{ stack_name }}

services:
  openspeedtest:
    container_name: openspeedtest
    restart: {{ restart_policy }}
    image: {{ openspeedtest_image }}
    networks:
      - proxy
    labels:
      traefik.enable: "true"
      traefik.http.routers.speedtest.rule: "Host(`{{ openspeedtest_domain }}`)"
      traefik.http.routers.speedtest.entrypoints: "websecure"
      traefik.http.routers.speedtest.tls.certresolver: "letsencrypt"
      traefik.http.services.speedtest.loadbalancer.server.port: "{{ openspeedtest_port }}"
    logging:
      driver: {{ logging_driver }}
      options:
        max-size: {{ logging_max_size }}
        max-file: {{ logging_max_file }}

networks:
  proxy:
    name: {{ proxy_network }}
    external: true
