# {{ ansible_managed }}
# Unpackerr environment variables

UN_SONARR_0_URL=http://sonarr:8989
UN_SONARR_0_API_KEY={{ unpackerr_sonarr_api_key }}
UN_SONARR_0_PATHS_0=/downloads

UN_RADARR_0_URL=http://radarr:7878
UN_RADARR_0_API_KEY={{ unpackerr_radarr_api_key }}
UN_RADARR_0_PATHS_0=/downloads

UN_LIDARR_0_URL=http://lidarr:8686
UN_LIDARR_0_API_KEY={{ unpackerr_lidarr_api_key }}
UN_LIDARR_0_PATHS_0=/downloads

UN_FOLDER_0_PATH=/downloads
UN_FOLDER_0_EXTRACT_PATH=/downloads
UN_FOLDER_0_DELETE_AFTER=10m
