# {{ ansible_managed }}
KEY="{{ beszel_agent_key }}"
TOKEN="{{ beszel_agent_token }}"
HUB_URL={{ beszel_agent_hub_url }}
SYSTEM_NAME={{ beszel_agent_system_name }}
LISTEN={{ beszel_agent_listen }}
DISABLE_SSH={{ beszel_agent_disable_ssh }}
LOG_LEVEL={{ beszel_agent_log_level }}
{% if ansible_facts['os_family'] == 'Darwin' %}
DATA_DIR={{ ansible_facts['env']['HOME'] }}/.local/share/beszel-agent
{% else %}
DATA_DIR=/var/lib/beszel-agent
{% endif %}
{% if beszel_agent_gpu_collector | string | length > 0 %}
GPU_COLLECTOR={{ beszel_agent_gpu_collector }}
{% endif %}
{% if gpu_type | default('') == 'intel_arc' %}
INTEL_GPU_DEVICE={{ beszel_agent_intel_gpu_device }}
{% endif %}
{% if gpu_type | default('') == 'apple_silicon' %}
PATH=/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin
{% endif %}
