{
  "default_server_config": {
    "m.homeserver": {
      "base_url": "https://{{ synapse_domain }}",
      "server_name": "{{ synapse_server_name }}"
    }
  },
  "brand": "Element",
  "showLabsSettings": true,
  "default_theme": "dark",
  "room_directory": {
    "servers": ["{{ synapse_server_name }}", "matrix.org"]
  },
  "disable_guests": true,
  "disable_login_language_selector": false,
  "disable_3pid_login": true,
  "default_country_code": "US",
  "setting_defaults": {
    "breadcrumbs": true
  },
  "element_call": {
    "use_exclusively": true
  },
  "features": {
    "feature_video_rooms": true,
    "feature_group_calls": true,
    "feature_element_call_video_rooms": true
  }
}
