# {{ ansible_managed }}
# coturn TURN server for Matrix Synapse voice/video

listening-port={{ coturn_port_listening }}
tls-listening-port={{ coturn_port_tls }}

min-port={{ coturn_port_relay_min }}
max-port={{ coturn_port_relay_max }}

realm={{ coturn_realm }}
server-name={{ coturn_realm }}

use-auth-secret
static-auth-secret={{ coturn_shared_secret }}

log-file=stdout
verbose

total-quota=100
bps-capacity=0

no-multicast-peers
no-cli
no-loopback-peers
no-tcp-relay

external-ip={{ ansible_default_ipv4.address }}
