INSPECTION_STATE_DIR=/state
INSPECTION_SNAPSHOT_DIR=/snapshots
INSPECTION_BEARER_TOKEN={{ kaneo_inspection_bearer_token }}
INSPECTION_PASEO_HOST=tcp://paseo:6767?password={{ kaneo_inspection_paseo_password }}
INSPECTION_MODEL_ENDPOINT=http://model-egress:11437/v1
