PASEO_HOME=/home/node/paseo
PASEO_LISTEN=0.0.0.0:6767
PASEO_PASSWORD={{ kaneo_inspection_paseo_password }}
PASEO_RELAY_ENABLED=true
PASEO_RELAY_ENDPOINT=relay-egress:8411
PASEO_RELAY_USE_TLS=false
PASEO_RELAY_PUBLIC_ENDPOINT={{ kaneo_inspection_relay_public_endpoint }}
PASEO_RELAY_PUBLIC_USE_TLS=true
OPENCODE_DISABLE_AUTOUPDATE=true
OPENCODE_DISABLE_PROJECT_CONFIG=true
OPENCODE_DISABLE_MODELS_FETCH=true
INSPECTION_MODEL_AUTH={{ kaneo_inspection_model_auth }}

PASEO_HOSTNAMES=paseo
PASEO_DICTATION_ENABLED=false
PASEO_VOICE_MODE_ENABLED=false
