# {{ ansible_managed }}
# Qui environment variables

# OIDC Configuration
QUI__OIDC_ENABLED={{ qui_oidc_enabled }}
QUI__OIDC_ISSUER={{ qui_oidc_issuer }}
QUI__OIDC_CLIENT_ID={{ qui_oidc_client_id }}
QUI__OIDC_CLIENT_SECRET={{ qui_oidc_client_secret }}
QUI__OIDC_REDIRECT_URL={{ qui_oidc_redirect_url }}
QUI__OIDC_DISABLE_BUILT_IN_LOGIN={{ qui_oidc_disable_built_in_login }}
