# {{ ansible_managed }}
# GitLab Omnibus environment. The bulk of configuration lives in gitlab.rb
# (mounted at /etc/gitlab/gitlab.rb); this file only carries values that
# are inconvenient to express in Ruby.

GITLAB_ROOT_EMAIL=admin@{{ gitlab_domain }}
GITLAB_ROOT_PASSWORD={{ gitlab_initial_root_password }}
TZ={{ timezone }}
