# {{ ansible_managed }}
# Renovate environment. Token in vault has api + write_repository scope
# on a dedicated `renovate-bot` GitLab user.

RENOVATE_TOKEN={{ renovate_gitlab_token }}
{% if renovate_github_token is defined %}
GITHUB_COM_TOKEN={{ renovate_github_token }}
{% endif %}
RENOVATE_CONFIG_FILE=/usr/src/app/config.js
LOG_LEVEL={{ renovate_log_level }}
