---
- name: Deploy TinyAuth forward authentication
  community.docker.docker_container:
    name: tinyauth
    image: ghcr.io/steveiliop56/tinyauth:v4
    state: started
    restart_policy: "{{ restart_policy }}"
    networks:
      - name: "{{ proxy_network }}"
    env:
      TZ: "{{ timezone }}"
      APP_URL: "{{ tinyauth_app_url }}"
      LOG_LEVEL: "{{ tinyauth_log_level }}"
      SECRET: "{{ tinyauth_secret }}"
      COOKIE_SECURE: "{{ tinyauth_cookie_secure }}"
      COOKIE_DOMAIN: "{{ tinyauth_cookie_domain }}"
      SESSION_DURATION: "{{ tinyauth_session_duration }}"
      OAUTH_AUTO_REDIRECT: "{{ tinyauth_oauth_auto_redirect }}"
      PROVIDERS_POCKETID_NAME: "{{ tinyauth_pocketid_name }}"
      PROVIDERS_POCKETID_CLIENT_ID: "{{ tinyauth_pocketid_client_id }}"
      PROVIDERS_POCKETID_CLIENT_SECRET: "{{ tinyauth_pocketid_client_secret }}"
      PROVIDERS_POCKETID_AUTH_URL: "{{ tinyauth_pocketid_auth_url }}"
      PROVIDERS_POCKETID_TOKEN_URL: "{{ tinyauth_pocketid_token_url }}"
      PROVIDERS_POCKETID_USER_INFO_URL: "{{ tinyauth_pocketid_user_info_url }}"
      PROVIDERS_POCKETID_REDIRECT_URL: "{{ tinyauth_pocketid_redirect_url }}"
      PROVIDERS_POCKETID_SCOPES: "{{ tinyauth_pocketid_scopes }}"
    labels:
      traefik.enable: "true"
      traefik.http.routers.tinyauth.rule: "Host(`auth.{{ traefik_domain }}`)"
      traefik.http.routers.tinyauth.entrypoints: "websecure"
      traefik.http.routers.tinyauth.tls.certresolver: "letsencrypt"
      traefik.http.services.tinyauth.loadbalancer.server.port: "{{ tinyauth_port }}"
      tinyauth.apps.stash.config.domain: "z.{{ traefik_domain }}"
      tinyauth.apps.stash.users.allow: "{{ tinyauth_allowed_user }}"
      tinyauth.apps.flood.config.domain: "flood.{{ traefik_domain }}"
      tinyauth.apps.flood.users.allow: "{{ tinyauth_allowed_user }}"
      tinyauth.apps.silverbullet.config.domain: "notes.{{ traefik_domain }}"
      tinyauth.apps.silverbullet.users.allow: "{{ tinyauth_allowed_user }}"
      tinyauth.apps.pinchflat.config.domain: "pi.{{ traefik_domain }}"
      tinyauth.apps.pinchflat.users.allow: "{{ tinyauth_allowed_user }}"
    log_driver: "{{ logging_driver }}"
    log_options:
      max-size: "5m"
      max-file: "{{ logging_max_file }}"
