# {{ ansible_managed }}
# Aurral runtime and native PocketID OIDC configuration.

TZ={{ timezone }}
PUID={{ puid }}
PGID={{ pgid }}
TRUST_PROXY=1
AURRAL_PUBLIC_URL={{ aurral_public_url }}

OIDC_ENABLED={{ aurral_oidc_enabled | lower }}
OIDC_ISSUER={{ aurral_oidc_issuer }}
OIDC_CLIENT_ID={{ aurral_oidc_client_id }}
OIDC_CLIENT_SECRET={{ aurral_oidc_client_secret }}
OIDC_REDIRECT_URI={{ aurral_oidc_redirect_uri }}
OIDC_SCOPES={{ aurral_oidc_scopes }}
OIDC_USERNAME_CLAIM={{ aurral_oidc_username_claim }}
OIDC_DEFAULT_ROLE={{ aurral_oidc_default_role }}
OIDC_ADMIN_USERS={{ aurral_oidc_admin_users | join(',') }}
OIDC_LOGOUT_URL={{ aurral_oidc_logout_url }}
OIDC_DOMAIN={{ aurral_oidc_issuer }}
SESSION_EXPIRY_HOURS={{ aurral_session_expiry_hours }}
