# {{ ansible_managed }}
# Borgmatic env: passphrase + cron schedule.

BORG_PASSPHRASE={{ borg_passphrase }}
BACKUP_CRON={{ borg_backup_cron }}
RUN_ON_STARTUP={{ borg_run_on_startup }}
TZ={{ timezone }}
