daemon={{ ddclient_daemon_interval }}
ssl={{ ddclient_ssl }}
use={{ ddclient_use }}
protocol={{ ddclient_protocol }}
zone={{ ddclient_atelier_zone }}
login={{ ddclient_cloudflare_email }}
password={{ ddclient_cloudflare_password_atelier }}
{{ ddclient_atelier_subdomains | join(',') }}
protocol={{ ddclient_protocol }}
zone={{ ddclient_fireplace_zone }}
login={{ ddclient_cloudflare_email }}
password={{ ddclient_cloudflare_password_fireplace }}
{{ ddclient_fireplace_subdomains | join(',') }}
