# {{ ansible_managed }}
name: {{ stack_name }}

services:
  mongo:
    image: mongo
    container_name: komodo_mongo
    labels:
      komodo.skip: # Prevent Komodo from stopping with StopAllContainers
    command: --quiet --wiredTigerCacheSizeGB 0.25
    restart: {{ restart_policy }}
    networks:
      - backend
    environment:
      MONGO_INITDB_ROOT_USERNAME: {{ komodo_db_username }}
      MONGO_INITDB_ROOT_PASSWORD: {{ komodo_db_password }}
    volumes:
      - mongo-data:/data/db
      - mongo-config:/data/configdb
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: {{ healthcheck_interval }}
      timeout: {{ healthcheck_timeout }}
      retries: {{ healthcheck_retries }}
      start_period: 40s
    logging:
      driver: {{ logging_driver }}
      options:
        max-size: {{ logging_max_size }}
        max-file: {{ logging_max_file }}

  komodo-core:
    image: ghcr.io/moghtech/komodo-core:{{ komodo_image_tag }}
    container_name: komodo_core
    labels:
      komodo.skip: # Prevent Komodo from stopping with StopAllContainers
    restart: {{ restart_policy }}
    depends_on:
      mongo:
        condition: service_healthy
    networks:
      - backend
      - shared
    ports:
      - 9120:9120
    env_file: ./env/komodo.env
    environment:
      KOMODO_DATABASE_ADDRESS: komodo_mongo:27017
      KOMODO_DATABASE_USERNAME: {{ komodo_db_username }}
      KOMODO_DATABASE_PASSWORD: {{ komodo_db_password }}
    volumes:
      - {{ config_base }}/backups:/backups
    logging:
      driver: {{ logging_driver }}
      options:
        max-size: {{ logging_max_size }}
        max-file: {{ logging_max_file }}

  komodo-periphery:
    image: ghcr.io/moghtech/komodo-periphery:{{ komodo_image_tag }}
    container_name: komodo_periphery
    labels:
      komodo.skip: # Prevent Komodo from stopping with StopAllContainers
    restart: {{ restart_policy }}
    networks:
      - backend
    env_file: ./env/komodo.env
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /proc:/proc
      - {{ periphery_root_directory }}:{{ periphery_root_directory }}
      - {{ docker_base_path }}:{{ docker_base_path }}:ro
      - /home/{{ ansible_user }}/Docker:/home/{{ ansible_user }}/Docker
    logging:
      driver: {{ logging_driver }}
      options:
        max-size: {{ logging_max_size }}
        max-file: {{ logging_max_file }}

volumes:
  mongo-data:
    name: komodo-mongo-data
    external: true
  mongo-config:
    name: komodo-mongo-config
    external: true

networks:
  backend:
    name: {{ backend_network }}
    internal: true
  shared:
    name: {{ shared_network }}
    external: true
