# {{ ansible_managed }}
# Postgres credentials for the listen (glm52) in-stack database. The password
# is the same vault value embedded in the API's DATABASE_URL.
POSTGRES_DB={{ glm52_listen_db_name }}
POSTGRES_USER={{ glm52_listen_db_user }}
POSTGRES_PASSWORD={{ glm52_listen_db_password }}
