# {{ ansible_managed }}
name: {{ stack_name }}

services:
  album-sort:
    container_name: album_sort
    build: {{ album_sort_source_path }}
    restart: {{ restart_policy }}
    networks:
      - shared
    ports:
      - {{ album_sort_port }}:{{ album_sort_container_port }}
    env_file:
      - ./env/album-sort.env
    environment:
      - TZ={{ timezone }}
      - ORIGIN={{ album_sort_origin }}
      - UNSORTED_PATH={{ album_sort_unsorted_path }}
      - SORTED_PATH={{ album_sort_sorted_path }}
      - DATA_PATH={{ album_sort_data_path }}
      - WATCH_INTERVAL={{ album_sort_watch_interval }}
    volumes:
      - music:/music
      - ./data:/data
    ulimits:
      nofile:
        soft: 65536
        hard: 65536
    logging:
      driver: {{ logging_driver }}
      options:
        max-size: {{ logging_max_size }}
        max-file: {{ logging_max_file }}

volumes:
  music:
    external: true

networks:
  shared:
    name: {{ shared_network }}
    external: true
