# {{ ansible_managed }}
# Dedicated HuggingHack PostgreSQL bootstrap credentials.

POSTGRES_DB={{ hugginghack_db_name }}
POSTGRES_USER={{ hugginghack_db_user }}
POSTGRES_PASSWORD={{ hugginghack_db_password }}
