---
- name: Create social base directory
  file:
    path: "{{ docker_base_path }}/{{ stack_name }}"
    state: directory
    owner: "{{ ansible_user }}"
    mode: '0755'

- name: Deploy compose file
  copy:
    src: compose.yaml
    dest: "{{ docker_base_path }}/{{ stack_name }}/compose.yaml"
    owner: "{{ ansible_user }}"
    mode: '0644'

- name: Create social config directories
  file:
    path: "{{ item }}"
    state: directory
    owner: "{{ ansible_user }}"
    mode: '0755'
  loop:
    - "{{ config_base }}"

- name: Deploy Mastodon
  import_tasks: mastodon.yml
  tags: mastodon
