# {{ ansible_managed }}
# Homarr environment variables

# Server
TZ={{ timezone }}
BASE_URL=https://{{ homarr_domain }}

# Authentication
AUTH_PROVIDERS=oidc
AUTH_OIDC_ISSUER={{ homarr_oidc_issuer }}
AUTH_OIDC_CLIENT_NAME={{ homarr_oidc_client_name }}
AUTH_OIDC_ADMIN_GROUP={{ homarr_oidc_admin_group }}
AUTH_OIDC_OWNER_GROUP={{ homarr_oidc_owner_group }}
AUTH_OIDC_AUTO_LOGIN={{ homarr_oidc_auto_login }}

# homarr_oidc_client_id - defined in vault
{% if homarr_oidc_client_id is defined %}
AUTH_OIDC_CLIENT_ID={{ homarr_oidc_client_id }}
{% endif %}

# homarr_oidc_client_secret - defined in vault
{% if homarr_oidc_client_secret is defined %}
AUTH_OIDC_CLIENT_SECRET={{ homarr_oidc_client_secret }}
{% endif %}

# homarr_secret_encryption_key - defined in vault (64-char hex)
{% if homarr_secret_encryption_key is defined %}
SECRET_ENCRYPTION_KEY={{ homarr_secret_encryption_key }}
{% endif %}
