# {{ ansible_managed }}
# slskd environment variables

SLSKD_SLSK_USERNAME={{ slskd_slsk_username }}
SLSKD_SLSK_PASSWORD={{ slskd_slsk_password }}

SLSKD_USERNAME={{ slskd_web_username }}
SLSKD_PASSWORD={{ slskd_web_password }}

SLSKD_SHARED_DIR=[Music]/music
