# {{ ansible_managed }}
# slskd environment variables

SLSKD_SLSK_USERNAME={{ slskd_slsk_username }}
SLSKD_SLSK_PASSWORD={{ slskd_slsk_password }}

SLSKD_USERNAME={{ slskd_web_username }}
SLSKD_PASSWORD={{ slskd_web_password }}

SLSKD_SHARED_DIR=[Music]/music
{% if slskd_api_key | length > 0 %}

SLSKD_API_KEY=role={{ slskd_api_key_role }};cidr={{ slskd_api_key_cidr }};{{ slskd_api_key }}
{% endif %}
