{
  "policies": {
    "ExtensionSettings": {
      "{{ degoog_4play_extension_id }}": {
        "installation_mode": "force_installed",
        "install_url": "{{ degoog_4play_extension_install_url }}",
        "private_browsing": true,
        "updates_disabled": false
      }
    }
  }
}
