# {{ ansible_managed }}
# n8n Sandbox Service: Docker-in-Docker runner secrets
#
# Both values are the runner's half of a pair held by sandbox-api:
#   SANDBOX_RUNNER_REGISTRATION_TOKEN = SANDBOX_API_RUNNER_REGISTRATION_TOKEN
#   SANDBOX_RUNNER_API_KEYS           = SANDBOX_API_RUNNER_API_KEY

# n8n_sandbox_registration_token - defined in vault
SANDBOX_RUNNER_REGISTRATION_TOKEN={{ n8n_sandbox_registration_token }}
# n8n_sandbox_runner_api_key - defined in vault
SANDBOX_RUNNER_API_KEYS={{ n8n_sandbox_runner_api_key }}
