# {{ ansible_managed }}
name: {{ stack_name }}

services:
  pocketid:
    container_name: pocketid
    image: {{ pocketid_image }}
    restart: {{ restart_policy }}
    networks:
      - proxy
    volumes:
      - ./config/pocketid/data:/app/data
    env_file:
      - ./env/pocketid.env
    labels:
      traefik.enable: "true"
      traefik.http.routers.pocketid.rule: "Host(`{{ pocketid_domain }}`)"
      traefik.http.routers.pocketid.entrypoints: "websecure"
      traefik.http.routers.pocketid.tls.certresolver: "letsencrypt"
      traefik.http.services.pocketid.loadbalancer.server.port: "{{ pocketid_port }}"
    logging:
      driver: {{ logging_driver }}
      options:
        max-size: {{ logging_max_size }}
        max-file: {{ logging_max_file }}

networks:
  proxy:
    name: {{ proxy_network }}
    external: true
