# {{ ansible_managed }}
# n8n environment variables

# Database
DB_TYPE=postgresdb
DB_POSTGRESDB_HOST={{ n8n_db_host }}
DB_POSTGRESDB_PORT={{ n8n_db_port }}
DB_POSTGRESDB_DATABASE={{ n8n_db_name }}
DB_POSTGRESDB_USER={{ n8n_db_user }}
DB_POSTGRESDB_PASSWORD={{ n8n_db_password }}

# Server
N8N_HOST={{ n8n_domain }}
N8N_PORT={{ n8n_port }}
N8N_PROTOCOL={{ n8n_protocol }}
WEBHOOK_URL={{ n8n_webhook_url }}
N8N_USER_MANAGEMENT_DISABLED={{ n8n_user_management_disabled }}

# Encryption key
{% if n8n_encryption_key is defined %}
N8N_ENCRYPTION_KEY={{ n8n_encryption_key }}
{% endif %}
