# {{ ansible_managed }}
bind_addr = "0.0.0.0"
bind_port = {{ frp_bind_port }}

# Authentication
auth.token = "{{ frp_token }}"

# Dashboard
webServer.addr = "0.0.0.0"
webServer.port = {{ frp_dashboard_port }}
webServer.user = "{{ frp_dashboard_user }}"
webServer.password = "{{ frp_dashboard_password }}"

# Subdomain hosting
vhost_http_port = 0
vhost_https_port = 0
subdomain_host = "{{ frp_subdomain_host }}"

# Logging
log.to = "console"
log.level = "info"
