# {{ ansible_managed }}
bindAddr = "0.0.0.0"
bindPort = {{ frp_bind_port }}

# Authentication
auth.method = "token"
auth.token = "{{ frp_token }}"

# Dashboard
webServer.addr = "0.0.0.0"
webServer.port = {{ frp_dashboard_port }}
webServer.user = "{{ frp_dashboard_user }}"
webServer.password = "{{ frp_dashboard_password }}"

# Subdomain hosting
vhostHTTPPort = 0
vhostHTTPSPort = 0
subdomainHost = "{{ frp_subdomain_host }}"

# Logging
log.to = "console"
log.level = "info"
