---
- name: Ensure render group exists for Intel Arc
  group:
    name: render
    state: present
  when: gpu_type == 'intel_arc'

- name: Get render group ID
  command: getent group render
  register: render_group
  changed_when: false
  when: gpu_type == 'intel_arc'

- name: Get video group ID
  command: getent group video
  register: video_group
  changed_when: false
  when: gpu_type == 'intel_arc'

- name: Deploy Plex Media Server with Intel Arc GPU
  community.docker.docker_container:
    name: plex
    image: plexinc/pms-docker:latest
    state: started
    restart_policy: "{{ restart_policy }}"
    network_mode: host
    hostname: plex
    env:
      TZ: "{{ timezone }}"
      PLEX_UID: "{{ puid }}"
      PLEX_GID: "{{ pgid }}"
      PLEX_CLAIM: "{{ plex_claim | default('') }}"
      ADVERTISE_IP: "{{ plex_advertise_ip }}"
      NVIDIA_VISIBLE_DEVICES: ""
      LIBVA_DRIVER_NAME: "{{ plex_libva_driver_name }}"
    devices: "{{ docker_devices }}"
    # Use 'groups' parameter with numeric GIDs
    groups:
      - "{{ render_group.stdout.split(':')[2] }}"
      - "{{ video_group.stdout.split(':')[2] }}"
    volumes:
      - "{{ config_base }}/plex/config:/config"
      - "{{ plex_transcode_path }}:/transcode"
      - videos:/videos
      - television:/television
      - anime:/anime
      - movies:/movies
      - music:/music
    log_driver: "{{ logging_driver }}"
    log_options:
      max-size: "{{ logging_max_size }}"
      max-file: "{{ logging_max_file }}"
  when: gpu_type == 'intel_arc'
